.ui.menu .item {
	font-size: 20px;
}

.milestone-choice {
	margin-top: 16em;
}

.backports {
	padding-top: 5em;
	padding-bottom: 20em;
}
.pr-title {
	font-weight: bold;
	font-size: 1.1em;
}
.ui.piled.segment.commits {
	margin: 1em 0;
	margin-left: 4em;
	margin-bottom: 0;
}
.button.clipboard, .button.issues {
	position: relative;
}