{#include BackportsResource/base}
	{#page-class}backports{/page-class}
	{#title}Backports for {milestone.title}{/title}
	{#body}
		<div class="ui main container">
			<table class="ui celled striped table">
				<thead>
					<tr>
						<th class="fourteen wide">Pull Request</th>
						<th class="one wide">Cherry&nbsp;Pick</th>
						<th class="one wide">Done</th>
					</tr>
				</thead>
				<tbody>
					{#for pr in prs}
					{#set commits=pr.commits}
					<tr>
						<td>
							<div>
								<code class="ui label tiny">#{pr.number}</code> <a class="pr-title" target="_blank" href="{pr.url}">{pr.title}</a>
								<span style="float:right">
									{#if pr.linkedIssues.size > 0}
										<div class="ui icon mini button issues" data-variation="wide" data-position="bottom center" data-html="<div class='header'>Linked issues</div><div class='content'>{#for issue in pr.linkedIssues}&rsaquo; <a href='{issue.url}' target='_blank'>{issue.number}</a> {issue.title}<br />{/}</div>">
											<i class="exclamation circle icon"></i>
											<span class="floating ui red mini circular label">{pr.linkedIssues.size}</span>
										</div>
									{/}
									<!-- bots don't have a proper login -->
									{#if pr.author.login}
										<span class="ui image label"><img src="{pr.author.avatarUrl}" /> {pr.author.login}</span>
									{/}
								</span>
							</div>
							<div class="ui piled segment commits" id="commits-{pr.number}">
								<div class="ui relaxed divided list">
									{#for commit in commits}
									<div class="item">
										<div class="content">
											<i class="map marker alternate icon"></i>
											<code class="ui tiny label"><a href="{commit.url}">{commit.abbreviatedOid}</a></code>
											<a href="{commit.url}" target="_blank">{commit.abbreviatedMessage}</a>
										</div>
									</div>
									{/}
								</div>
							</div>
						</td>
						<td class="center aligned">
							<div class="ui icon button clipboard-button" data-clipboard-text="git cherry-pick {#for commit in commits}{commit.abbreviatedOid} {/}">
								<i class="clipboard outline icon"></i>
								<div class="floating ui blue mini circular label">{commits.size}</div>
							</div>
						</td>
						<td class="center aligned">
							<div class="ui icon button blue" id="mark-backported-{pr.number}">
								<i class="arrow alternate circle right icon"></i>
							</div>
							<script type="text/javascript">
								$('#mark-backported-{pr.number}').click(function() {
									$('#mark-backported-{pr.number}').prop("onclick", null).off("click");
									$('#mark-backported-{pr.number}').addClass('loading').removeClass('blue');

									$.ajax('/backports/{milestone.title}/backported/{pr.number}/').done(function() {
										$('#mark-backported-{pr.number}').removeClass('loading').addClass('positive disabled');
										$('#mark-backported-{pr.number} i').removeClass('arrow alternate circle right').addClass('check');
										$('#mark-backported-{pr.number}').closest('tr').addClass('positive');
										$('#commits-{pr.number}').toggle();
									}).fail(function() {
										$('#mark-backported-{pr.number}').removeClass('loading').addClass('negative disabled');
										$('#mark-backported-{pr.number} i').removeClass('reply').addClass('exclamation triangle');
									});
								});
							</script>
						</td>
					</tr>
					{/}
					{/}
				</tbody>
			</table>
		</div>
	{/body}
	{#scripts}
		<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js" integrity="sha256-inc5kl9MA1hkeYUt+EC3BhlIgyp/2jDIyBLS6k3UxPI=" crossorigin="anonymous"></script>
		<script type="text/javascript">
			new ClipboardJS('.clipboard-button');
			$('.button.issues').popup({ on: 'click' });
		</script>
	{/scripts}
{/include}