<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Quarkus - Backports</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
	<style type="text/css">
		.ui.menu .item {
			font-size: 20px;
		}
		.presentation {
			margin-top: 8em;
		}
	</style>
</head>
<body>
	<div class="ui fixed inverted menu">
		<a class="header item" href="https://github.com/quarkusio/quarkus/pulls">
			<img class="logo" src="https://quarkus.io/assets/images/quarkus_logo_horizontal_rgb_reverse.svg" alt="Quarkus logo" style="width:200px;">
		</a>
		<span class="header item">
			Backports
		</span>
	</div>
	<div class="presentation">
		<div class="ui main container">
			<div class="ui massive form">
				<div class="field">
					<label>Choose a milestone</label>
					<select class="ui search dropdown" id="milestone">
						<option value="">Select Milestone</option>
						{#for milestone : milestones}
							<option value="{milestone.number}">{milestone.title}</option>
						{/}
					</select>
				</div>
				<div class="ui submit button" id="lets-backport" onclick="javascript:window.url">Let's backport!</div>
			</div>
		</div>
	</div>

	<!-- Javascripts -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
	<script type="text/javascript">
		$('select.dropdown').dropdown();
		
		$('#lets-backport').click(function() {
			window.location.href = '/backports/' + $('select#milestone').children("option:selected").val() + '/';
			return false;
		});
	</script>
</body>
</html>