{#include BackportsResource/base}
	{#page-class}milestone-choice{/page-class}
	{#additional-header-items}
		<span class="header item">
			Backports
		</span>
	{/additional-header-items}
	{#body}
		<div class="ui main container">
			<div class="ui two column centered grid">
				<div class="column">
					<div class="ui tall very padded piled segment">
						<h3 class="ui header">Choose a milestone</h3>
						<div class="content">
							<div class="ui form">
								<div class="field">
									<label>Milestone to backport to</label>
									<select class="ui search dropdown" id="milestone">
										<option value="">Select Milestone</option>
										{#for milestone : milestones}
											<option value="{milestone.title}">{milestone.title}</option>
										{/}
									</select>
								</div>
								<div class="ui submit green button" id="lets-backport">Let's backport!</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{/body}
	{#scripts}
		<script type="text/javascript">
			$('select.dropdown').dropdown();
			
			$('#lets-backport').click(function() {
				window.location.href = '/backports/' + $('select#milestone').children("option:selected").val() + '/';
				return false;
			});
		</script>
	{/scripts}
{/include}